.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container form .inputContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.container form .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}